@import 'variables.scss';

:export {
    default: $color-default;
    selected: $color-selected;
    backgroundDefault: $background-color-default;
    backgroundSelected: $background-color-selected;
}