@import 'variables.scss';

:export {
    default: $color-default;
    selected: $color-selected;
    background-default: $background-color-default;
    background-selected: $background-color-selected;
}